@import "tailwindcss";

 

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


 @plugin "daisyui/theme" {
  name: "light";
  default: true;
   --color-primary: #708b5c; 
  --color-secondary: teal;
}


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}